/* Container styles */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Hide overflow to avoid horizontal scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ellipse 1 */
.ellipse1 {
    position: absolute;
    height: 175%;
    left: 25%;
    top: -773px;
    border-radius: 50%;
    aspect-ratio: 1;
    background: linear-gradient(180.03deg, #788BFF 49.97%, #BFD7FF 99.97%);
    z-index: 1;
}

/* Rectangle 1 */
.rectangle1 {
    position: absolute;
    width: 88px;
    height: 100%;
    top: 0px;
    right: 0px;
    background: linear-gradient(180deg, #5465FF 0%, #788BFF 100%);
    border-radius: 18px;
    z-index: 2;
    /* padding: 16px;  */
}
.menuButton {
    position: relative;
    left: 22%;
    top: 25px;
    width: 55px;
    height: 50px;
    cursor: pointer;
}

/* Countdown BOX */
.countdownBOX {
    position: absolute;
    left: 35%;
    top: 229px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.8rem + 8.5vw);
    color: #FFFFFF;
    z-index: 3;
}

/* Start Text */
.starttext {
    position: absolute;
    left: 36%;
    top: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: calc(0.8rem + 2vw);
    color: #FFFFFF;
    z-index: 3;
}

/* Description */
.description {
    position: absolute;
    left: 64px;
    bottom: 15%;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: calc(0.8rem + 2vw);
    color: #323232;
}

/* Register Button */
/* Register Button */
.register {
    position: absolute;
    width: 392px;
    height: 391px;
    left: 35%;
    bottom: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #5465FF 23.01%, #9BB1FF 100%);
    box-shadow: 0px 40px 40px rgba(84, 101, 255, 0.28);
    z-index: 3;
}

/* Register Text */
.registerText {
    position: relative;
    display: flex;
    justify-content: center;
    top: 41%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.4rem + 2vw);
    color: #ffffff;
    z-index: 4;
    cursor: pointer; /* Change cursor on hover */
}

.registerText:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* E-Cell Logo */
.ecellLogo {
    position: absolute;
    width: 47px;
    height: 72px;
    left: 41px;
    top: 32px;
    background: url("https://s3-alpha-sig.figma.com/img/e79e/2a1d/3219687af019e93fd354ef562c3de362?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kK5rmG4pPZM9l3aQqXtv0gQuv9i2KaBcNivupfkbDIZg7H672yGTUFspPEcMykm3c56ythRkqCT5tB3Sac4qRyVPcWDqZyHemkE6EzxjXktflQtc41H77I-VuVwMiN9U4PzU1bwv~PG~CsGOnDRhOEgXGtaRPPclLo99YO5ovdgM47KzieKRqtod6gJG~vMQe1ySnBKTk~A9WBP6Il0tvjxcjTRLnEfJqYz5O96m9S7Wyl6CBBtlSlK0nAd0WMQhyJMyF4aKkAeLxfbn0BeMLP-NbL-5Cl3So5fHMgbjvG1Ih1Z8MMXYrWEdEirTLau1kPqmXripNBit85O6ChsilQ__");
    background-size: cover; /* Ensure the image covers the entire element */
    background-repeat: no-repeat;
    z-index: 5;
}
