/* Container styles */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease, height 1s ease, width 1s ease, box-shadow 1s ease;
}

.circleContainerAFTERCLICK {
    height: 100%;
}

/* Ellipse 1 */
.ellipse1 {
    position: absolute;
    height: 1841px;
    border-radius: 50%;
    aspect-ratio: 1;
    background: linear-gradient(180.03deg, #788BFF 49.97%, #BFD7FF 99.97%);
    z-index: 1;
    transition: transform 1s ease, height 1s ease, width 1s ease, box-shadow 1s ease;
    transform: translate(25%, -25%);
}

.ellipse1AFTERCLICK {
    height: 100%;
    border-radius: 50%;
    transform: translateX(-15%);
    box-shadow: 0px 40px 40px rgba(84, 101, 255, 0.27);
}

/* Rectangle 1 */
.rectangle1 {
    position: fixed;
    width: 88px;
    height: 100%;
    top: 0px;
    right: 0px;
    background: linear-gradient(180deg, #5465FF 0%, #788BFF 100%);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    z-index: 4;
    transition: width 1s ease;
}

.rectangle1AFTERCLICK {
    width: 400px;
}

.menuButton {
    position: relative;
    left: 21.5px;
    top: 30px;
    width: 45px;
    height: 10px;
    cursor: pointer;
}

/* Countdown BOX */
.countdownBOX {
    position: absolute;
    /* top: 229px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.8rem + 8.5vw);
    color: #FFFFFF;
    z-index: 3;
    top: 0;
    margin-top: 175px;
    transform: translate(18%);
    transition: margin-top 1s ease, transform 1s ease, font-size 1s ease;
}

.countdownBOXAFTERCLICK {
    margin-top: 260px;
    transform: translateX(-18%);
    font-size: calc(0.3rem + 7.2vw);
}

/* Start Text */
.starttext {
    position: absolute;
    top: 0;
    margin-top: 85px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: calc(0.8rem + 2vw);
    color: #FFFFFF;
    z-index: 3;
    transition: margin-top 1s ease, transform 1s ease, text-align 1s ease;
}

.starttextAFTERCLICK {
    margin-top: 135px;
    text-align: center;
    transform: translateX(-22%);
}

/* Description */
.description {
    position: absolute;
    left: 2%;
    bottom: 15%;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: calc(0.8rem + 2vw);
    color: #323232;
    z-index: 3;
    transition: all 1s ease;
}

.descriptionAFTERCLICK {
    display: none;
}

/* Register Button */
.register {
    position: relative;
    height: calc(15vh + 10vw);
    min-height: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(180deg, #5465FF 23.01%, #9BB1FF 100%);
    box-shadow: 0px 40px 40px rgba(84, 101, 255, 0.28);
    z-index: 3;
    top: calc(120px + 7vh);
    left: calc(-140px);
    transition: all 1s ease;
}

.registerAFTERCLICK {
    top: auto;
    left: auto;
    margin-top: auto;
    margin-bottom: 50px;
    transform: translateX(-42%);
}


/* Register Text */
.registerText {
    position: relative;
    display: flex;
    justify-content: center;
    top: 41%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: calc(calc(0.9rem + 1.3vw));
    color: #ffffff;
    z-index: 4;
    cursor: pointer;
    transition: text-decoration 1s ease;
}

.registerText:hover {
    text-decoration: underline;
}

/* E-Cell Logo */
.ecellLogo {
    position: fixed;
    width: 47px;
    height: 72px;
    left: 41px;
    top: 32px;
    background: url("https://s3-alpha-sig.figma.com/img/e79e/2a1d/3219687af019e93fd354ef562c3de362?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kK5rmG4pPZM9l3aQqXtv0gQuv9i2KaBcNivupfkbDIZg7H672yGTUFspPEcMykm3c56ythRkqCT5tB3Sac4qRyVPcWDqZyHemkE6EzxjXktflQtc41H77I-VuVwMiN9U4PzU1bwv~PG~CsGOnDRhOEgXGtaRPPclLo99YO5ovdgM47KzieKRqtod6gJG~vMQe1ySnBKTk~A9WBP6Il0tvjxcjTRLnEfJqYz5O96m9S7Wyl6CBBtlSlK0nAd0WMQhyJMyF4aKkAeLxfbn0BeMLP-NbL-5Cl3So5fHMgbjvG1Ih1Z8MMXYrWEdEirTLau1kPqmXripNBit85O6ChsilQ__");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}

@media only screen and (max-width: 1100px),
screen and (max-height: 645px) {
    .circleContainer {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 1s ease, height 1s ease, width 1s ease, box-shadow 1s ease;
    }

    .ellipse1 {
        height: 100%;
        width: 100%;
        border-radius: 0%;
        background: linear-gradient(180.03deg, #788BFF 49.97%, #BFD7FF 99.97%);
        z-index: 1;
        transform: translate(0%);
        transition: transform 1s ease, height 1s ease, width 1s ease, box-shadow 1s ease;
    }

    .ellipse1AFTERCLICK {
        height: 100%;
        width: 100%;
        border-radius: 0%;
        transform: translate(0%);
        box-shadow: none;
    }

    .rectangle1,
    .rectangle1AFTERCLICK {
        position: fixed;
        width: 88px;
        height: 100%;
        top: 0px;
        right: 0px;
        background: transparent;
        border-radius: 18px;
        z-index: 1;
        transition: width 1s ease;
        transform: translateX(0%);
    }

    

    .countdownBOX {
        font-size: calc(1rem + 8.3vw);
        left: auto;
        margin-top: 205px;
        text-align: center;
        transform: translate(0%);
        transition: margin-top 1s ease, transform 1s ease, font-size 1s ease;
    }

    .countdownBOXAFTERCLICK {
        margin-top: 205px;
        transform: translate(0%);
        font-size: calc(1rem + 8.3vw);
    }

    .starttext {
        left: auto;
        font-size: calc(1rem + 1.8vw);
        margin-top: 145px;
        text-align: center;
        transition: margin-top 1s ease, transform 1s ease, text-align 1s ease;
    }

    .starttextAFTERCLICK {
        margin-top: 145px;
        text-align: center;
        transform: translate(0%);
    }

    .register,
    .registerAFTERCLICK {
        width: 220px;
        height: 220px;
        min-height: 220px;
        left: auto;
        border-radius: 50%;
        top: 0;
        margin-top: 90px;
        transition: all 1s ease;
        transform: translateX(0%);
        /* margin-bottom: 50px; */
    }

    .description,
    .descriptionAFTERCLICK {
        display: none;
        position: absolute;
        left: auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: calc(0.8rem + 2vw);
        color: #323232;
        z-index: 3;
        bottom: 17%;
    }

    .registerText {
        font-size: calc(1.6rem);
    }

    .ecellLogo {
        width: 39px;
        height: 60px;
        left: 16px;
        top: 16px;
    }
}