<svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 492.332 492.332" xml:space="preserve">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
        <g>
            <g>
                <polygon points="435.704,249.504 56.626,249.504 14.185,492.332 478.147,492.332 "></polygon>
                <circle cx="246.167" cy="103.473" r="103.473"></circle>
            </g>
        </g>
    </g>
</svg>